* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
}

body header {
    box-shadow: 0 0 10px black;
    padding: 10px;
    width: 100%;
    min-height: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

header nav {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 black;
    z-index: 1;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    padding: 10px;
}

.dropdown:hover nav {
    display: block;
}

nav a {
    width: 100%;
    display: inline-block;
    color: black;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color:black;
}

header nav ul li:hover {
    background-color: #cfcaca;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

form {
    width:fit-content;
    margin: auto;
    padding: 20px;
}

form input {
    margin: 10px 0;
    padding: 10px;
}

form input[type="submit"] {
    background-color: rgb(0, 92, 212);
    color: white;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}