<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="dropdown">
            <p>Olá, {{usuario}}</p>
            <nav>
                <ul>
                    <li><a href="{{url_for('home', id=session['id_usuario_logado'])}}">Home</a></li>
                    <li><a href="{{url_for('config')}}">Configurações</a></li>
                    <li><a href="{{url_for('logout')}}">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>Seja bem-vindo!</h1>
        <p>É só uma tela de login. Achou que teria o futuro Facebook aqui? KKKKKKKK</p>
    </main>
</body>
</html>