<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style.css')}}">
    <title>Login</title>
</head>
<body>
    <main>
        <form action="{{ url_for('login')}}" method="post">
            <label for="username">Usuário</label><br>
            <input type="text" name="username" id="username"><br>
            <label for="password">Senha</label><br>
            <input type="password" name="password" id="password"><br>
            <input type="submit" value="Login">
            <a href="{{url_for('cadastro')}}">Criar conta</a><br>
            <a href="paginas/redefinir-senha.html">Esqueci minha senha</a><br>
        </form>
    </main>
    <script>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    alert("{{message}}")
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
</body>
</html>